body {
	font-family: 'Roboto Slab', serif;
}

#h1 {
	margin: 0;
}

#after_submit {
	background-color: #C09F80;
	border-radius: 10px;
	visibility: hidden;
	height: 80px;
	width: 200px;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 10px;
	margin-top: 20px;
}

#button {
	margin-top: 20px;
	background-color: #76323F;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 14pt;
}

#quiz {
	margin: 0px;
	border-radius: 25px;
	height: 360px;
	width: 300px;
	background-color: #D7CEC7;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;

}